* {
    font-family: "Open Sans", "Segoe UI";
}

.search-area {
    background: #f1f4f7;
    background:white;
    min-width: 480px;
    height: 100vh;
    overflow-y: scroll;
}

.results-list {
    padding: 0.25rem;
    margin: 1rem 1rem;
} 