.result-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-bottom: 0.75em;   
    padding: 0.75em;

    background: white;
    /* box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.18), 0 0.6px 1.8px 0 rgba(0,0,0,.11); */
    border-radius: 4px;

    /* cursor: pointer; */
    /* border: 1px solid #0001; */
}

.result-item.active {
    outline: 1px dotted #4682b4;
    /* border-left: 4px solid blue; */
}

.selected .result-item {
    background: #4682b420;
}

.selected .result-item::before {
    content: "";
    color: 0000;
    position: absolute;
    width: 4px;
    top:0;
    bottom: 0;
    left: 0;
    background: #4682b4;

    /* border-left: 4px solid steelblue; */
}

.result-item:hover {
    outline: 1px solid hotpink;
}

.result-item-icon {
    /* font-size: 1.5em; */
    /* margin-right: 0.25em; */
}

.name-row {
    display:flex;
    align-items: center;
    
}

.result-item .name {
    padding-right: 1rem;
    /* font-weight: 500; */
    color: #333;
    color: #457b9d;
    font-weight: 500;
    font-size: 18px;
}

.result-size, .result-mod-time {
    color: #777;
}

.result-mod-time {
    margin-left: 1rem;
}

.path {
    color: #777;
    padding-right: 1rem;
    /* font-weight: 300; */
    /* font-size: 14px; */
}

.item-link {
    display: flex;
}

/* .item:hover {
    outline: 1px dashed hotpink;
} */

.item-icon-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    min-width: 1rem;
    margin-right: 0.5rem;
    /* margin-top:3px; */
}

.result-item-icon {
    font-size: 20px;
}

.hidden {
    opacity: 0.4;
}

.system-icon {
    position: absolute;
    font-size: 0.5rem;
    bottom: 0;
    right: 0.5rem;
    opacity: 0.5;
}

.live-link {
    transition: 0.2s ease-in-out;
}

.live-link:hover {
    background: #ff69b433;
}

.tiny-icon {
    color: #e8e8e8 !important;
    font-size: 90%;
}

.open-button {
    font-size: 75%;
    background: unset;
    height: unset;
    width: unset;
    border-radius: 100%;
    color: darkgray;
    margin: 0 4px;
    padding: 0 4px;
    cursor: pointer;
    transition: 0.2s;
    /* margin-right: 8px; */
    /* margin-left: 8px; */
}

.open-button:hover {
    color: hotpink;
}

.clickable {
    cursor: pointer;
}

.hover-underline:hover {
    text-decoration: underline;
}

.hover-pink:hover {
    color: hotpink;
}

.copy-button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    color: #ccc;
    background:white;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.selected {
    /* box-shadow: 5px 5px 5px red; */
}

.selected .copy-button {
    color: #999;
    background: none;
}

.copy-button:hover {
    color: hotpink;
    /* background: #ff69b433; */
}