/* Home page */

.home_intro {
  margin-bottom: 50px;
}

.home_apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home_apps div {
  display: flex;
  color: #282828;
  width: 300px;
  height: 175px;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.09);
  margin: 0px 20px 50px 20px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}
.home_apps h3 {
  color: #282828;
}
.home_apps div:hover {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  transition: 0.2s;
}

