.fa-folder {
    color: gold;
}

.fa-file {
    color: silver;
}

.fa-file-alt {
    color: silver;
}

.fa-file-word {
    color: navy;
}

.fa-file-excel {
    color: darkgreen;
}

.fa-file-csv {
    color: darkgreen;
}

.fa-file-powerpoint {
    color: rgb(216, 86, 114);
}

.fa-file-pdf {
    color: firebrick;
}

.fa-file-archive {
    color: goldenrod;
}

.fa-book {
    color: darkolivegreen;
}

.fa-file-video {
    color: darkslateblue;
}

.fa-envelope {
    color: goldenrod;
}

.fa-file-audio {
    color: #D991BA;
}
